header{
    width: 100%;
    position: absolute;
    z-index: 1;
}

nav{
    display: flex;
    gap: 25vw;
    align-items: center;
    padding: 3vw 0;
}

nav img{
    width: clamp(30vw, 80vw, 50vw);
}

nav li{
    list-style: none;
    display: flex;
    align-items: center;
}

nav span{
    color: #e2eafc;
    font-size: 2rem;
}