.main__initial {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0b090a;
    overflow: hidden;
}

.main__color-effect{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: white;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
    z-index: 0;
}

.main__initial img {
    position: absolute;
    right: -75%;
    bottom: 0;
    width: calc(100% + 80vw);
    transform: scaleX(-1);
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 100%);
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    padding-bottom: 3rem;
    background-color: rgba(108, 117, 125, 0.61);
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
    color: #fff;
    z-index: 1;
    line-height: 1.8rem;
}

.main__content h1 {
    margin: 0;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
}

.main__content p {
    margin: 0;
    font-size: 1rem;
    color: #eee;
}