.main__portfolio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}

.content__video{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 50%;
    height: 53.5%;
    padding: 5vw;
    border-radius: 20px;
    background-color: #00171f;
}

.content__video h1{
    color: #fca311;
    font-size: 2.5em;
}

.content__video p{
    color: #edf2f4;
    font-size: 1.5em;
    text-align: justify;
    line-height: 2rem;    
}

.main__portfolio video{
    width: 25%;
    border-radius: 20px ;
}

@media screen and (max-width: 1024px) {
    .main__portfolio video{
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .main__portfolio{
        flex-direction: column;
        gap: 5rem;
        padding: 5rem;
    }

    .content__video{
        width: 75%;
        height: auto;
        padding: 5vw;
    }

    .content__video h1{
        font-size: 2em;
    }

    .content__video p{
        font-size: 1.2rem;
        line-height: 1.5rem;    
    }

    .main__portfolio video{
        width: 50%;
    }
}